<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head") %> 
	<body>
		<h1><%= title %></h1>
		<%- include("./partials/header") %> 
	<div class="col-6 mx-auto">
		<form action="/admin">
			<label for="user" class="form-label">User</label>
			<input type="text" name="user" class="form-control" id="user">
			<button type="submit">Entrar</button>
		</form>
	</div>
</body>
</html>